.default-DiBr_ {
  color: #151310;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.default-DiBr_:hover {
  color: #322d26;
  background: #ffffff;
}
.default-DiBr_.selected-C2YRC:hover {
  background: #322d26;
}
.default-DiBr_:active {
  color: #322d26;
  background: #ffffff;
}
.default-DiBr_.selected-C2YRC:active {
  background: #322d26;
}
.default-DiBr_:focus {
  color: #322d26;
  background: #ffffff;
}
.default-DiBr_.selected-C2YRC:focus {
  background: #322d26;
}
.default-DiBr_:disabled {
  color: #000000;
  background: #ffffff;
}
.default-DiBr_.selected-C2YRC:disabled {
  background: #000000;
}
.default-DiBr_.selected-C2YRC {
  color: #ffffff;
  background: #151310;
}
.primary-pCzrJ {
  color: #c8362c;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.primary-pCzrJ:hover {
  color: #d8584f;
  background: #ffffff;
}
.primary-pCzrJ.selected-C2YRC:hover {
  background: #d8584f;
}
.primary-pCzrJ:active {
  color: #d8584f;
  background: #ffffff;
}
.primary-pCzrJ.selected-C2YRC:active {
  background: #d8584f;
}
.primary-pCzrJ:focus {
  color: #d8584f;
  background: #ffffff;
}
.primary-pCzrJ.selected-C2YRC:focus {
  background: #d8584f;
}
.primary-pCzrJ:disabled {
  color: #741f1a;
  background: #ffffff;
}
.primary-pCzrJ.selected-C2YRC:disabled {
  background: #741f1a;
}
.primary-pCzrJ.selected-C2YRC {
  color: #ffffff;
  background: #c8362c;
}
.danger-gwAPp {
  color: #e64d4d;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.danger-gwAPp:hover {
  color: #ec7979;
  background: #ffffff;
}
.danger-gwAPp.selected-C2YRC:hover {
  background: #ec7979;
}
.danger-gwAPp:active {
  color: #ec7979;
  background: #ffffff;
}
.danger-gwAPp.selected-C2YRC:active {
  background: #ec7979;
}
.danger-gwAPp:focus {
  color: #ec7979;
  background: #ffffff;
}
.danger-gwAPp.selected-C2YRC:focus {
  background: #ec7979;
}
.danger-gwAPp:disabled {
  color: #b31919;
  background: #ffffff;
}
.danger-gwAPp.selected-C2YRC:disabled {
  background: #b31919;
}
.danger-gwAPp.selected-C2YRC {
  color: #ffffff;
  background: #e64d4d;
}
.warning-GXrUq {
  color: #e69933;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.warning-GXrUq:hover {
  color: #ebb060;
  background: #ffffff;
}
.warning-GXrUq.selected-C2YRC:hover {
  background: #ebb060;
}
.warning-GXrUq:active {
  color: #ebb060;
  background: #ffffff;
}
.warning-GXrUq.selected-C2YRC:active {
  background: #ebb060;
}
.warning-GXrUq:focus {
  color: #ebb060;
  background: #ffffff;
}
.warning-GXrUq.selected-C2YRC:focus {
  background: #ebb060;
}
.warning-GXrUq:disabled {
  color: #9f6314;
  background: #ffffff;
}
.warning-GXrUq.selected-C2YRC:disabled {
  background: #9f6314;
}
.warning-GXrUq.selected-C2YRC {
  color: #000000;
  background: #e69933;
}
.success-Xop5v {
  color: #4d994d;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.success-Xop5v:hover {
  color: #66b366;
  background: #ffffff;
}
.success-Xop5v.selected-C2YRC:hover {
  background: #66b366;
}
.success-Xop5v:active {
  color: #66b366;
  background: #ffffff;
}
.success-Xop5v.selected-C2YRC:active {
  background: #66b366;
}
.success-Xop5v:focus {
  color: #66b366;
  background: #ffffff;
}
.success-Xop5v.selected-C2YRC:focus {
  background: #66b366;
}
.success-Xop5v:disabled {
  color: #2a552a;
  background: #ffffff;
}
.success-Xop5v.selected-C2YRC:disabled {
  background: #2a552a;
}
.success-Xop5v.selected-C2YRC {
  color: #ffffff;
  background: #4d994d;
}
.slide-Ups09 {
  padding-block: 16px;
}
.slide-Ups09 h1,
.slide-Ups09 h2,
.slide-Ups09 h3,
.slide-Ups09 h4,
.slide-Ups09 h5,
.slide-Ups09 h6 {
  line-height: 1.2;
}
@media screen and (max-width: 520px) {
  .slide-Ups09 h1 br,
  .slide-Ups09 h2 br,
  .slide-Ups09 h3 br,
  .slide-Ups09 h4 br,
  .slide-Ups09 h5 br,
  .slide-Ups09 h6 br {
    display: none;
  }
}
.slide-Ups09 h1 strong,
.slide-Ups09 h2 strong,
.slide-Ups09 h3 strong,
.slide-Ups09 h4 strong,
.slide-Ups09 h5 strong,
.slide-Ups09 h6 strong {
  color: #c8362c;
}
.slide-Ups09:not(:last-child) {
  border-bottom: 1px solid #c8362c;
}
.slide-Ups09 .hero {
  padding: 16px 16px;
  font-size: 2em;
  line-height: 1.2;
  background-color: #c8362c;
  color: #fbf7ee;
}


/*# sourceMappingURL=960.37fcec0bceee98b31e99.css.map*/