.default-fYKNm {
  color: #151310;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.default-fYKNm:hover {
  color: #322d26;
  background: #ffffff;
}
.default-fYKNm.selected-gkmnS:hover {
  background: #322d26;
}
.default-fYKNm:active {
  color: #322d26;
  background: #ffffff;
}
.default-fYKNm.selected-gkmnS:active {
  background: #322d26;
}
.default-fYKNm:focus {
  color: #322d26;
  background: #ffffff;
}
.default-fYKNm.selected-gkmnS:focus {
  background: #322d26;
}
.default-fYKNm:disabled {
  color: #000000;
  background: #ffffff;
}
.default-fYKNm.selected-gkmnS:disabled {
  background: #000000;
}
.default-fYKNm.selected-gkmnS {
  color: #ffffff;
  background: #151310;
}
.primary-nlxw8 {
  color: #c8362c;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.primary-nlxw8:hover {
  color: #d8584f;
  background: #ffffff;
}
.primary-nlxw8.selected-gkmnS:hover {
  background: #d8584f;
}
.primary-nlxw8:active {
  color: #d8584f;
  background: #ffffff;
}
.primary-nlxw8.selected-gkmnS:active {
  background: #d8584f;
}
.primary-nlxw8:focus {
  color: #d8584f;
  background: #ffffff;
}
.primary-nlxw8.selected-gkmnS:focus {
  background: #d8584f;
}
.primary-nlxw8:disabled {
  color: #741f1a;
  background: #ffffff;
}
.primary-nlxw8.selected-gkmnS:disabled {
  background: #741f1a;
}
.primary-nlxw8.selected-gkmnS {
  color: #ffffff;
  background: #c8362c;
}
.danger-dahQc {
  color: #e64d4d;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.danger-dahQc:hover {
  color: #ec7979;
  background: #ffffff;
}
.danger-dahQc.selected-gkmnS:hover {
  background: #ec7979;
}
.danger-dahQc:active {
  color: #ec7979;
  background: #ffffff;
}
.danger-dahQc.selected-gkmnS:active {
  background: #ec7979;
}
.danger-dahQc:focus {
  color: #ec7979;
  background: #ffffff;
}
.danger-dahQc.selected-gkmnS:focus {
  background: #ec7979;
}
.danger-dahQc:disabled {
  color: #b31919;
  background: #ffffff;
}
.danger-dahQc.selected-gkmnS:disabled {
  background: #b31919;
}
.danger-dahQc.selected-gkmnS {
  color: #ffffff;
  background: #e64d4d;
}
.warning-FzZce {
  color: #e69933;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.warning-FzZce:hover {
  color: #ebb060;
  background: #ffffff;
}
.warning-FzZce.selected-gkmnS:hover {
  background: #ebb060;
}
.warning-FzZce:active {
  color: #ebb060;
  background: #ffffff;
}
.warning-FzZce.selected-gkmnS:active {
  background: #ebb060;
}
.warning-FzZce:focus {
  color: #ebb060;
  background: #ffffff;
}
.warning-FzZce.selected-gkmnS:focus {
  background: #ebb060;
}
.warning-FzZce:disabled {
  color: #9f6314;
  background: #ffffff;
}
.warning-FzZce.selected-gkmnS:disabled {
  background: #9f6314;
}
.warning-FzZce.selected-gkmnS {
  color: #000000;
  background: #e69933;
}
.success-OL8m_ {
  color: #4d994d;
  transition-property: color, background;
  transition-duration: 0.2s;
}
.success-OL8m_:hover {
  color: #66b366;
  background: #ffffff;
}
.success-OL8m_.selected-gkmnS:hover {
  background: #66b366;
}
.success-OL8m_:active {
  color: #66b366;
  background: #ffffff;
}
.success-OL8m_.selected-gkmnS:active {
  background: #66b366;
}
.success-OL8m_:focus {
  color: #66b366;
  background: #ffffff;
}
.success-OL8m_.selected-gkmnS:focus {
  background: #66b366;
}
.success-OL8m_:disabled {
  color: #2a552a;
  background: #ffffff;
}
.success-OL8m_.selected-gkmnS:disabled {
  background: #2a552a;
}
.success-OL8m_.selected-gkmnS {
  color: #ffffff;
  background: #4d994d;
}
.detailsControls-VZPR2 {
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}
.detailsControls-VZPR2 > * {
  margin-right: 8px;
}
.detailsControls-VZPR2 > *:last-child {
  margin-right: 0;
}


/*# sourceMappingURL=98.0e1ae0cde2b1f94a01a6.css.map*/